.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.markerContainer {
  width: fit-content;
}


.markerInfo {
  position: absolute;
  top: -50px;
  left: 13px;
  border: 1px solid rgb(211, 211, 211);
  background-color: white;
  min-width: 300px;
  min-height: 65px;
  border-radius: 6px;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 8px;
  z-index: 100000;
}

.showInfo {
  display: flex;
}
.pin {
  cursor: pointer;
}

.pin svg {
  color: rgb(226, 32, 32);
  font-size: 32px;
}

.eventTitle {
  color: black;
  word-wrap: wrap;
}

.sidePanel {
  position: fixed;
  width: 35vw;
  height: 100vh;
  background-color: white;
  z-index: 9999;
  top: 0;
  left: 0;
  box-shadow: -6px 0px 8px 10px #888888;
  overflow-y: scroll;
  max-width: 450px;
}

.eventCard {
  height: 150px;
  padding: 8px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  min-height: 150px;
  transition: min-height 0.24s ease-out;
}

.eventCard:hover {
  min-height: 300px;
}

.eventCardTitle {
  color: white;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
  padding-left: 20px;
  text-shadow: 0px 0px 2px #000000;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
